@model MVC.ViewModels.ManagerViewModels.EditItemViewModel

@{
    ViewData["Title"] = "Edit Item";
}

<form asp-controller="Manager"
      asp-action="EditItem">
     <article>
         <input name="Id" type="hidden" value=@Model.CatalogItem.Id>
         <table>
             <tr>
                 <th>
                     PictureUrl:
                 </th>
                 <td>
                     <input type="text" size="50" required="required" name="PictureFileName" value="@Model.PictureFileName">
                 </td>
             </tr>
             <tr>
                 <th>
                     Name:
                 </th>
                 <td>
                     <input type="text" size="50" required="required" name="Name" value="@Model.CatalogItem.Name">
                 </td>
             </tr>
             <tr>
                 <th>
                     Description
                 </th>
                 <td>
                     <textarea name="Description" required="required" rows="4" cols="50" style="resize:none;">@Model.CatalogItem.Description</textarea>
                 </td>
             </tr>
             <tr>
                 <th>
                     Category
                 </th>
                 <td>
                     <select asp-for="@Model.CategoryId"
                             asp-items="@Model.Categories"
                             value="@Model.CatalogItem.CatalogCategory.Id">
                     </select>
                 </td>
             </tr>
             <tr>
                 <th>
                     Mechanic
                 </th>
                 <td>
                     <select asp-for="@Model.MechanicId" 
                             asp-items="@Model.Mechanics"
                             value="@Model.CatalogItem.CatalogMechanic.Id">
                     </select>
                 </td>
             </tr>
             <tr>
                 <th>
                     Price
                 </th>
                 <td>
                     <input type="text" required="required" name="Price" value="@Model.CatalogItem.Price.ToString()">
                 </td>
             </tr>
         </table>
     </article>
     <input name="CategoryId" type="hidden" value=@Model.CategoryId>
	 <input name="MechanicId" type="hidden" value=@Model.MechanicId>
     <button class="btn esh-basket-checkout" 
             type="submit">[ Accept ]
     </button>
</form>